<template>
    <div id="test-view">{{title}}</div>
</template>

<script>
    import axios from 'axios';
    import _ from 'lodash';

    export default {
        name: 'codOffices',
        data() {
            return {
                title: 'codOffices'
            }
        }
    }
</script>

<style lang="scss">
    .test-view{
        background-color: #ff9500;
        color: #fff;
    }
</style>
