<template>
    <section class="pageContent main clearfix">
        <div id="catalog-object">
            <h1>{{ title }}</h1>
            <div class="catalog-object__search">
                <input type="text" v-model="searchText">
                <button @click="getObjectsBySearch">Find Object</button>
            </div>
            <h1>{{$route.params.id}}</h1>
            <ul class="symbols">
                <li class="symbols__item"
                    @click="getObjectsBySymbol(item)" v-for="item in symbols.digits">
                    <router-link class="symbols__item"
                                 :class="{ 'symbols__item--active': (item ==  $route.params.symbol)}"
                                 :to="{ name: 'catalog_search', params: { symbol: item } }">{{item}}
                    </router-link>

                </li>
            </ul>
            <ul class="symbols">
                <li class="symbols__item" @click="getObjectsBySymbol(item)" v-for="item in symbols.letters.ru">
                    <router-link class="symbols__item"
                                 :class="{ 'symbols__item--active': (item ==  $route.params.symbol)}"
                                 :to="{ name: 'catalog_search', params: { symbol: item } }">{{item}}
                    </router-link>
                </li>
            </ul>
            <ul class="symbols">
                <li class="symbols__item" @click="getObjectsBySymbol(item)" v-for="item in symbols.letters.en">
                    <router-link class="symbols__item"
                                 :class="{ 'symbols__item--active': (item ==  $route.params.symbol)}"
                                 :to="{ name: 'catalog_search', params: { symbol: item } }">{{item}}
                    </router-link>
                </li>
            </ul>
            <div class="catalog-object__items">
                <img src="http://www.lumene.com/sites/all/themes/lumene2016/images/loading.gif" alt=""
                     v-show="is_objects_loading" class="loader">
                <div v-show="objects.length > 0">
                    <div class="catalog-object__item" v-for="object in objects">
                        <span class="catalog-object__item-id">{{object.postId}}</span> {{object.name}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';
    import _ from 'lodash';

    export default {
        name: 'catalogObject',
        data() {
            return {
                title: 'Каталог объектов',
                symbols: {
                    digits: [1, 2, 3, 4, 5, 6, 7, 8, 9],
                    letters: {
                        en: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'],
                        ru: ['а', 'б', 'в', 'г', 'д', 'е', 'ж', 'з', 'и', 'к', 'л', 'м', 'н', 'о', 'п', 'р', 'с', 'т', 'у', 'ф', 'х', 'ц', 'ч', 'ш', 'щ', 'э', 'ю', 'я']
                    }
                },
                searchText: '',
                objects: [],
                is_objects_loading: false,
            }
        },
        methods: {
            getObjectsBySymbol: _.throttle(function (symbol) {
                //console.log('Start --getObjectsBySymbol');
                let self = this;
                let requestUrl = 'https://jsonplaceholder.typicode.com/comments?postId=';
                self.objects = [];
                self.is_objects_loading = true;

                axios.get(requestUrl + symbol)
                    .then(function (response) {
                        self.objects = response.data;
                        self.is_objects_loading = false;
                        console.log(response.data);
                        //console.log('End --getObjectsBySymbol');
                    });
            }, 200),
            getObjectsBySearch: function () {
                //console.log('Start --getObjectsBySearch');
                let self = this;
                let requestUrl = '/';
                self.objects = [];
                self.is_objects_loading = true;
                if (self.searchText.length > 0) {
                    /*axios({
                        method: 'get',
                        url: requestUrl + text,
                        responseType: 'jsonp'
                    })
                        .then(function (response) {
                            self.objects = response.data;
                            self.is_objects_loading = false;
                            //console.log('End --getObjectsBySearch');
                        });*/
                }
            }
        },
        created() {
            if (typeof this.$route.params.symbol !== "undefined") {
                this.getObjectsBySymbol(this.$route.params.symbol);
            }
        },
         mounted(){
             setFooterPosition();
         }
    }
</script>

<style lang="scss">
    .symbols {
        margin: 10px;
        font-family: Arial;
    }

    .symbols__item {
        display: inline-block;
        background: none;
        padding: 0;
        font-weight: bold;
        width: 30px;
        height: 30px;
        text-align: center;
        margin-right: 0;
        font-size: 17px;
        line-height: 30px;
        color: #9e9e9e;
        border: none !important;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        &:hover {
            background-color: #eee;
        }
        &--active {
            background-color: #ea212d;
            color: #fff;
            &:hover {
                background-color: #ea212d;
            }
        }
        @media (max-width: 600px) {
            & {
                width: 20px;
                height: 20px;
                font-size: 14px;
                line-height: 20px;
            }
        }
    }

    .catalog-object {
        margin-top: 20px;
        &__items {
            border: 1px solid #ccc;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
        }

        &__item {
            border-bottom: 1px solid #ccc;
            transition: all .2s ease-in-out;
            cursor: default;
            padding: 25px 10px;
            &:hover {
                background-color: #eee;
            }
            &:last-child {
                border-bottom: none;
            }
        }
        &__item-id {
            position: relative;
            top: -1px;
            display: inline-block;
            padding: .25em .4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
            background-color: #d35400;
        }
    }

</style>
