<template>
    <section class="pageContent main clearfix">
        <div v-cloak>
            <div class="v-cloak--hidden">{{objectData.type}} &dash; &laquo;{{objectData.name}}&raquo;</div>
            <div>
                <router-link :to="{ name: 'catalog_object_view'}">Описание</router-link>
                <router-link :to="{ name: 'catalog_object_view', params: {path: 'offices' }}">Свободные площади
                </router-link>
                <router-link :to="{ name: 'catalog_object_view', params: {path: 'renters' }}">Арендаторы</router-link>
                <router-link :to="{ name: 'catalog_object_view', params: {path: 'location' }}">Расположение
                </router-link>
            </div>
            <router-view></router-view>
        </div>
    </section>
</template>

<script>
    import axios from 'axios';

    export default {

        name: 'catalogObjectView',
        data() {
            return {
                title: 'Карточка объекта',
                objectData: []
            }
        },
        components: {},
        computed: {},
        methods: {},
        created() {
        }
    }
</script>

<style lang="scss">

</style>
