<template>
    <div id="aboutIndexPage">
        <div class="text">
            <strong>PROPERTYHUNTER</strong> — это онлайн-сервис<br>
            для агентов и собственников<br>
            офисной недвижимости
        </div>
        <div class="row isAuth">
            <div class="col-xs-2 col-xs-offset-4">
                <router-link :to="{ name: 'about_agent_content'}">Для агента</router-link>
            </div>
            <div class="col-xs-2 col-xs-offset-1">
                <router-link :to="{ name: 'about_owner_content'}">Для собственника</router-link>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'aboutOwner',
        data() {
            return {
                title: 'MAIN ABOUT CONTENT'
            }
        }
    }
</script>

<style lang="scss">
    footer {
        display: none;
    }
</style>
