<template>


    <div id="fullpage">
        <div class="pageForFullpage aboutPage aboutPage1Block8">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                    <h2><span class="red">Все клиенты Москвы</span></h2>
                    <div class="text">
                        Чтобы реализовать объект на лучших условиях и в кратчайшие сроки, необходимо чтобы о
                        нем узнало максимальное количество потенциальных клиентов, которые, в свою очередь, запрашивают
                        информацию о текущих предложениях у агентов. На PROPERTYHUNTER Ваше предложение попадет в результаты
                        поиска каждого агента и станет известным всему рынку.
                    </div>
                </div>
                <div class="col-xs-4 col-xs-offset-2">
                    <h2><span class="red">11785</span> агентов</h2>
                    <h2>из <span class="red">7364</span> агентств</h2>
                </div>
            </div>
        </div>


        <div class="pageForFullpage aboutPage aboutPage1Block12">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-7">
                    <h2>Коммуникации<br><span class="red">с агентами</span></h2>
                    <div class="text">
                        Общайтесь с агентами напрямую, предлагая их клиентам индивидуальные условия. Вы всегда знаете, какому агенту в настоящий момент интересно ваше предложение. Получайте обратную связь и ускоряйте процесс закрытия сделки.
                    </div>
                </div>
            </div>
        </div>


        <div class="pageForFullpage aboutPage aboutPage1Block9">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                    <h2><span class="red">Реклама</span><br>на популярных площадках</h2>
                    <div class="text">
                        Размещайте свои предложения на самых популярных досках объявлений через один удобный интерфейс PROPERTYHUNTER и получайте звонки от тех клиентов, которые ищут помещения самостоятельно.
                    </div>
                </div>
            </div>
        </div>


        <div class="pageForFullpage aboutPage aboutPage1Block4">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                    <h2>Качественные презентации<br><span class="red">в один клик</span></h2>
                    <div class="text">
                        Вам больше не нужно тратить время на создание презентаций. На PROPERTYHUNTER можно скачать готовые pdf-презентации, редактируя основную информацию и фотографии объекта. Все презентации уже содержат Ваши контактные данные.
                    </div>
                </div>
            </div>
        </div>

        <div class="pageForFullpage aboutPage aboutPage1Block11">
            <div class="row">
                <div class="col-xs-4 col-xs-offset-2">
                    <h2>Оценка спроса<br>и <span class="red">анализ конкурентов</span></h2>
                    <div class="text">
                        На каких условиях выставлять на рынок новое предложение? Продлевать договор аренды на старых условиях или повысить ставку? Получите ответы на эти вопросы - узнайте цены всех конкурентных предложений на рынке в аналитическом сервисе PROPERTYHUNTER.
                    </div>
                </div>
            </div>
        </div>


        <div class="pageForFullpage aboutPage aboutPage1Block13">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2><span class="red">PROPERTYHUNTER</span> — самый быстрый способ<br>рассказать о Вашем объекте всему рынку!
                    </h2>

                    <div class="button center">
                        <a href="/" class="btn btn-danger btn-lg btn-no-border">Продолжить работу</a>
                        <a href="/register/" class="btn btn-danger btn-lg btn-no-border">Зарегистрироваться</a>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: 'aboutOwner',
        data() {
            return {
                title: 'About Owner content'
            }
        },
        mounted() {
            console.log('INIT: START');
            initFullpage();
        },
        beforeDestroy() {
            destroyFullpage();
        }
    }
</script>

<style lang="scss">
    .test-view {
        background-color: #ff9500;
        color: #fff;
    }
</style>
