<template>
    <section class="pageContent main clearfix">
        <h1>{{title}}</h1>
    </section>
</template>

<script>
    export default {
        name: 'premiseSearch',
        data() {
            return {
                title: 'Подбор помещений'
            }
        },
        mounted(){
            setFooterPosition();
        }
    }
</script>

<style>

</style>
