<template>

    <div>
        <section class="pageContent main clearfix" style="min-height: 430px;"><h3 class="pageTitle">Список клиентов</h3>
            <div class="clientsList" data-page-name="client.list">
                <div class="mainPadding">
                    <!--<a target="_blank" href="/clients/add/" class="btn btn-success btn-lg">Добавить клиента</a>-->
                    <router-link :to="{ name: 'client_add'}" class="btn btn-success btn-lg">Добавить клиента
                    </router-link>
                </div>

                <div class="search_list">
                    <form action="">
                        <button type="button" class="searchButton btn"></button>
                        <input type="text" class="clientSearch" placeholder="Поиск" v-model="filterValue" autofocus>
                        <div class="clear"></div>
                    </form>
                </div>
                <table v-if="no_errors && filteredClients.length > 0"
                       class="build_table open_build_table build_table_no_hover" data-table="">
                    <thead>
                    <tr>
                        <th class="clients_cell clients_cell_1">
                            <div data-column="CreateDate" class="tableSort"><span>дата</span></div>
                        </th>
                        <th class="clients_cell clients_cell_2">
                            <div data-column="Name" class="tableSort"><span>клиент</span></div>
                        </th>
                        <th class="clients_cell clients_cell_3">
                            <div data-column="DealName" class="tableSort"><span>вид сделки</span></div>
                        </th>
                        <!--<th class="clients_cell_4"><span>тип</span></th>-->
                        <th class="clients_cell clients_cell_5">
                            <div data-column="Square" class="tableSort"><span>площадь</span></div>
                        </th>
                        <th class="clients_cell clients_cell_9">
                            <div data-column="Cost" class="tableSort"><span>Стоимость</span></div>
                        </th>
                        <th class="clients_cell clients_cell_6">
                            <div data-column="SelectedBlocksCount" class="tableSort"><span>отобрано</span></div>
                        </th>
                        <th class="clients_cell clients_cell_7">&nbsp;</th>
                        <th class="clients_cell clients_cell_8"></th>
                    </tr>
                    </thead>


                    <!-- BEGIN "Clients Table Content" -->

                    <tbody>
                    <tr v-for="(client, index) in filteredClients"
                        :class="client.is_archive ? 'text-grey' : ''"
                        :key="client.id"
                        :data-index="index">
                        <td class="clients_cell_1"><span class="fz_13">{{ client.date }}</span></td>
                        <td class="clients_cell_2">
        <span class="text_overflow">
            <a :href="'/clients/edit/' + client.id" class="_clientLink" data-id="5220"
               @click.prevent="showClientDetails(client)"><b>{{ client.name }}</b></a>
        </span>
                        </td>
                        <td class="clients_cell_3 ">
                            <span :class="client.deal_type === 'Аренда' ? 'point point_red' : 'point point_blue'"></span>&nbsp;{{client.deal_type}}
                        </td>
                        <!--<td class="clients_cell_4 "></td>-->
                        <td class="clients_cell_5 "><b>{{client.area_from}}</b> - <b>{{client.area_to}}</b>
                            м<sup>2</sup></td>
                        <td class="clients_cell_9 "><b>{{client.cost_from}}</b> - <b>{{client.cost_to}}</b>
                            руб. / м<sup>2</sup> в год
                        </td>
                        <td class="clients_cell_6 ">
                            <a target="_blank" class="star-selected" :href="'/search/selected/' + client.id"> <i
                                    class="fa fa-star-o inline middle"></i>&nbsp;<strong
                                    class="inline middle">{{client.selected}}</strong>
                            </a></td>
                        <td class="clients_cell_7 ">
                            <a target="_blank" class="btn btn-danger btn-no-border btn-sm"
                               :href="'/search/' + client.id">
                                <i class="inline middle fa fa-search"></i>&nbsp;<span
                                    class="inline middle">Поиск</span>
                            </a>
                            <!--                <span class="text_red newBlocksCounter"><span>+-->
                            <!--</span></span>-->
                            <div v-if="client.new_offers > 0" class="inline middle newBlocksCount">
                                + {{client.new_offers}} {{declOfNum(client.new_offers, ['новое', 'новых', 'новых'])}}
                            </div>
                        </td>
                        <td class="clients_cell_8">
                            <div class="nav_three_points open_down_box_one_cont_cl_wr inline middle">
                                <a href="#"
                                   class="btn_nav_three_points open_down_box_one inline middle">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                                <ul class="nav_three_points_cont open_down_box_one_cont" style="">
                                    <li>
                                        <a :href="'/clients/edit/' + client.id">Редактировать</a>
                                    </li>
                                    <li>
                                        <a :href="'/clients/hide/' + client.id">В архив</a>
                                    </li>
                                    <li>
                                        <a :href="'/clients/delete/' + client.id" class="deleteBtn">Удалить</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                    <!-- END "Clients Table Content" -->
                </table>
            </div>
        </section>
        <client-details-modal
                :client-data="currentClient"
                :show-modal.sync="showModal">
        </client-details-modal>
    </div>
</template>

<script>
    import axios from 'axios';
    import clientDetailsModal from './ClientDetailsModaView.vue';
    //import Velocity from 'velocity-animate';

    export default {
        name: 'clientList',
        data() {
            return {
                title: 'Список клиентов',
                clients: [],
                is_clientList_loading: true,
                no_errors: true,
                filterValue: '',
                currentClient: {},
                showModal: false
            }
        },
        components: {clientDetailsModal},
        methods: {
            showClientDetails(client) {
                this.currentClient = client;
                this.showModal = true;
            },
            declOfNum: function (number, titles) {
                let cases = [2, 0, 1, 1, 1, 2];
                return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
            }
        },
        computed: {
            // Search filter
            filteredClients() {
                let self = this;
                return this.clients.filter(function (client) {
                    return client.name.toLowerCase().indexOf(self.filterValue.toLowerCase()) > -1
                })
            }
        },
        beforeCreate() {
            // Get clients list
            let self = this;
            axios({
                method: 'get',
                url: '/test_json/clients.json',
                responseType: 'json'
            })
                .then(function (response) {
                    //console.log(response.data);
                    self.clients = response.data;
                    self.currentClient = response.data[0];
                    self.no_errors = true;
                    self.is_clientList_loading = false;
                    //console.log('Current Client From parent', self.currentClient);
                })
                .catch(function (error) {
                    self.no_errors = false;
                    console.log('ClientList load error: ', error);
                });
        },
        mounted() {
            setFooterPosition();
            setTimeout(function () {
                clientListInitElements();
            }, 1000);
        },
    }
</script>

<style lang="scss">


</style>
