<template>
    <section class="pageContent main clearfix mainFullWidth">
        <div>
            <form method="POST" class="newClientForm ">
                <button type="submit" class="btn btn-success btn-no-border btn-lg saveBtn">Сохранить</button>

                <table class="newClientParams">
                    <tbody>
                    <tr>
                        <td class="column1">
                            <h5>Общая информация</h5>

                            <div class="form-group">
                                <label for="Name">Название карточки</label>
                                <input type="text" id="Name" name="Name" class="form-control" value="">
                                <span class="error"></span></div>

                            <div class="form-group">
                                <label for="Comment">Комментарий</label>
                                <textarea id="Comment" name="Comment" class="form-control " data-max-height="100"
                                          style="width: 100%; height: 170px;"></textarea>
                                <span class="error"></span></div>

                        </td>
                        <td class="column2">
                            <h5>Параметры поиска</h5>

                            <div class="form-group dealBlock">
                                <label for="Name">Вид сделки</label>
                                <div class="dealTypeRadio">
                                    <ul>
                                        <li>
                                            <input type="radio" id="DealTypeID-radio-1" class="radio" name="DealTypeID"
                                                   value="1" data-label="Аренда"
                                                   data-minmax="{'Alls':'12380','Office':'11729','MinLevel':'-3','MaxLevel':'68','MinRentSquare':'7','MaxRentSquare':'66300','MinSaleSquare':'18','MaxSaleSquare':'34000','MinRentCost':'1005','MaxRentCost':'4794754','MinSaleCost':'21188','MaxSaleCost':'16574769','RentCostPostLabel':' \u0440\u0443\u0431.\/\u043c<sup>2<\/sup>\/\u0433\u043e\u0434','SaleCostPostLabel':' \u0440\u0443\u0431. \/ \u043c<sup>2<\/sup>','RentCostLabel':'\u0421\u0442\u0430\u0432\u043a\u0430','SaleCostLabel':'\u0421\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c'}"
                                                   checked=""> <label for="DealTypeID-radio-1">Аренда</label>
                                        </li>
                                        <li>
                                            <input type="radio" id="DealTypeID-radio-2" class="radio" name="DealTypeID"
                                                   value="2" data-label="Продажа"
                                                   data-minmax="{'Alls':'12380','Office':'11729','MinLevel':'-3','MaxLevel':'68','MinRentSquare':'7','MaxRentSquare':'66300','MinSaleSquare':'18','MaxSaleSquare':'34000','MinRentCost':'1005','MaxRentCost':'4794754','MinSaleCost':'21188','MaxSaleCost':'16574769','RentCostPostLabel':' \u0440\u0443\u0431.\/\u043c<sup>2<\/sup>\/\u0433\u043e\u0434','SaleCostPostLabel':' \u0440\u0443\u0431. \/ \u043c<sup>2<\/sup>','RentCostLabel':'\u0421\u0442\u0430\u0432\u043a\u0430','SaleCostLabel':'\u0421\u0442\u043e\u0438\u043c\u043e\u0441\u0442\u044c'}">
                                            <label for="DealTypeID-radio-2">Продажа</label>
                                        </li>
                                    </ul>
                                </div>
                                <span class="error"></span></div>
                            <div class="form-group" style="display: none;">
                                <label for="Name">Тип помещения</label>
                                <div id="TypeID_buttonsSelect" class="buttonsSelect" data-active-class="btn-danger"
                                     data-default-class="btn-default" data-multiple="1" data-manual="0">
                                    <div>
                                        <button type="button" class="btn btn-no-border btn-danger" data-value="1">
                                            Офисное
                                        </button>
                                    </div>
                                    <select name="TypeID" multiple="">
                                        <option value="1" selected="">Офисное</option>
                                    </select></div>
                                <span class="error"></span></div>
                            <table class="rangeClientParam">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="SquareFrom">Площадь от</label>
                                            <input type="text" id="SquareFrom" name="SquareFrom"
                                                   class="form-control number"
                                                   value="7">
                                        </div>
                                    </td>
                                    <td>—</td>
                                    <td>
                                        <div class="form-group">
                                            <label for="SquareTo">до, м<sup>2</sup></label>
                                            <input type="text" id="SquareTo" name="SquareTo" class="form-control number"
                                                   value="66300">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div id="SquareClientSlider" class="main_slider  active" data-name="Square">


                                            <div class="clear"></div>
                                            <!--<div class='max_text'><span class='value'>66300</span><span class='post_label'> м<sup>2</sup></span></div>-->
                                            <div class="clear"></div>
                                            <div class="sliderSizeCont">
                                                <div class="slider_cont_line"></div>
                                                <div class="controlBoxes" data-round="" data-min="7" data-max="66300"
                                                     data-function="">
                                                    <div style="margin-left: 0px; margin-right: 0px;">
                                                        <span class="cLeft" data-for="SquareFrom"></span>
                                                        <span class="cRight" data-for="SquareTo"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class='min_text'><span class='value'>7</span><span class='post_label'> м<sup>2</sup></span></div>-->
                                            <div class="clear"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><span class="error"></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="rangeClientParam costParam">
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label for="CostFrom"><span class="costLabel">Ставка</span> от</label>
                                            <input type="text" id="CostFrom" name="CostFrom" class="form-control number"
                                                   value="1005">
                                        </div>
                                    </td>
                                    <td>—</td>
                                    <td>
                                        <div class="form-group">
                                            <label for="CostTo">до,<span
                                                    class="costPostLabel"> руб./м<sup>2</sup>/год</span></label>
                                            <input type="text" id="CostTo" name="CostTo" class="form-control number"
                                                   value="4794754">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div id="CostClientSlider" class="main_slider  active" data-name="Cost">


                                            <div class="clear"></div>
                                            <!--<div class='max_text'><span class='value'>4794754</span><span class='post_label'> руб./м<sup>2</sup>/год</span></div>-->
                                            <div class="clear"></div>
                                            <div class="sliderSizeCont">
                                                <div class="slider_cont_line"></div>
                                                <div class="controlBoxes" data-round="" data-min="1005"
                                                     data-max="4794754"
                                                     data-function="" data-k="20000">
                                                    <div style="margin-left: 0px; margin-right: 0px;">
                                                        <span class="cLeft" data-for="CostFrom"></span>
                                                        <span class="cRight" data-for="CostTo"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class='min_text'><span class='value'>1005</span><span class='post_label'> руб./м<sup>2</sup>/год</span></div>-->
                                            <div class="clear"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><span class="error"></span></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="form-group clientLocation">
                                <label for="Comment">Метро</label>
                                <button type="button" class="btn-dashed openMetroMap" data-metromapid="metroMap"
                                        data-action="click">Выбрать
                                </button>
                                <div class="locations"></div>
                            </div>

                        </td>
                        <td class="column3">
                            <h5>Контактные лица</h5>

                            <div class="contacts">
                                <div class="contactsItems">
                                    <div id="contactsTabs" class="tab-base" data-hash="true">
                                        <ul class="nav nav-tabs">
                                            <li class="active " style="max-width: calc(88% + 1px);"><a class=""
                                                                                                       data-toggle="tab"
                                                                                                       href="#new_person_1"><span>Контакт 1</span></a>
                                            </li>
                                            <li class=" plusContactTab"><a href="#"
                                                                           onclick="addPerson($(this).closest('.contactsItems'), $(this)); return false;">+</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="new_person_1" class="tab-pane fade active in">
                                                <table class="contactsPerson" data-person="new_person_1"
                                                       data-phonecount="2"
                                                       data-emailcount="2">
                                                    <tbody>
                                                    <tr class="personName">
                                                        <td>
                                                            <div class="form-group">
                                                                <label for="contacts[new_person_1][Name]">Контактное лицо</label>
                                                                <input type="text" class="form-control"
                                                                       name="contacts[new_person_1][Name]" value="">
                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="contactsInfo">
                                                                <div class="col-lg-12">
                                                                    <div class="col-sm-4 personContacts"
                                                                         data-max-count="3">
                                                                        <table>
                                                                            <tbody>
                                                                            <tr class="contactItem phone_contactItem">
                                                                                <td>
                                                                                    <div class="form-group">
                                                                                        <label>Телефон</label>
                                                                                        <div class="buttonedInput">
                                                                                            <input type="text"
                                                                                                   name="contacts[new_person_1][Contact][new_contact_phone_1][phone]"
                                                                                                   class="maskedInput form-control"
                                                                                                   value=""
                                                                                                   v-model="vphone"
                                                                                                   data-mask="(999) 999-9999">
                                                                                            <input type="hidden"
                                                                                                   name="contacts[new_person_1][Contact][new_contact_phone_1][TypeID]"
                                                                                                   value="1">
                                                                                            <input type="hidden"
                                                                                                   name="contacts[new_person_1][Contact][new_contact_phone_1][SubTypeID][1]"
                                                                                                   value="2">
                                                                                            <span class="inputButton fa fa-close"
                                                                                                  onclick="clearContactItem($(this))"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="contactsBtns">
                                                                                    <div style=""
                                                                                         class="btn text-danger fa fa-close"
                                                                                         onclick="deleteContact($(this), 'phone')"></div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="contactsBtns" colspan="2">
                                                                                <span class="dashedGreenLink"
                                                                                      onclick="addContact($(this).closest('tbody'), 'phone')">Добавить</span>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div class="col-sm-8 personContacts"
                                                                         data-max-count="3">
                                                                        <table>
                                                                            <tbody>
                                                                            <tr class="contactItem email_contactItem">
                                                                                <td>
                                                                                    <div class="form-group">
                                                                                        <label>E-mail</label>
                                                                                        <div class="buttonedInput">
                                                                                            <input type="text"
                                                                                                   name="contacts[new_person_1][Contact][new_contact_email_1][email]"
                                                                                                   value=""
                                                                                                   class="form-control">
                                                                                            <input type="hidden"
                                                                                                   name="contacts[new_person_1][Contact][new_contact_email_1][TypeID]"
                                                                                                   value="2">
                                                                                            <input type="hidden"
                                                                                                   name="contacts[new_person_1][Contact][new_contact_email_1][SubTypeID][2]"
                                                                                                   value="4">
                                                                                            <span class="inputButton fa fa-close"
                                                                                                  onclick="clearContactItem($(this))"></span>
                                                                                        </div>
                                                                                    </div>
                                                                                </td>
                                                                                <td class="contactsBtns">
                                                                                    <div style=""
                                                                                         class="btn text-danger fa fa-close"
                                                                                         onclick="deleteContact($(this), 'email')"></div>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="contactsBtns" colspan="2">
                                                                                <span class="dashedGreenLink"
                                                                                      onclick="addContact($(this).closest('tbody'), 'email')">Добавить</span>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="">
                                                                <div class="form-group">
                                                                    <label for="contacts[new_person_1][About]">Информация</label>
                                                                    <textarea type="text" class="form-control "
                                                                              data-max-height="100"
                                                                              style="height: 80px;"
                                                                              name="contacts[new_person_1][About]"></textarea>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="dashedRedLink"
                                                                 onclick="deletePerson($(this).closest('.contactsPerson'))">
                                                                Удалить контактное лицо
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="height100"></div>
                <input type="hidden" name="step" value="1">
            </form>
        </div>
        <h1>{{vphone}}</h1>
    </section>
</template>

<script>
    export default {
        name: 'clientAdd',
        data() {
            return {
                msg: 'Client add view',
                vphone: ''
            }
        },
        mounted() {
            setTimeout(function () {
                initAddClient();
                console.log('init add client');
                $('.newClientParams .dealTypeRadio input[type=radio][name=DealTypeID]').trigger("change");
            }, 200);
            setFooterPosition();
        }
    }
</script>

<style lang="scss">

</style>
